<!-- {{aliens|json}} -->
<div class="container">
  <div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{oszlop.text}}
    </div>
  </div>

  <div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
      <input [(ngModel)]="newAlien[oszlop.key]" [type]="oszlop.type">
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Add</button>

    </div>
  </div>
  <div *ngFor="let alien of aliens" class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{alien[oszlop.key]}}
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-primary">Delete</button>
    </div>
  </div>
</div>

